@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to lab48 demo app.</p>
    <p>This is my first deploy of application on Azure App Service pulling the project from Github.</p>
</div>
